# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [11]:
import jovian

In [12]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

In [4]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 5.0 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.2 which is incompatible.
Successfully installed pandas-1.3.2

In [1]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f10b3beb810>)

Let's load the data from the CSV file into a Pandas data frame.

In [3]:
countries_df = pd.read_csv('countries.csv')

In [4]:
countries_df

           location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0       Afghanistan      Asia  ...                        0.50        1803.987
1           Albania    Europe  ...                        2.89       11803.431
2           Algeria    Africa  ...                        1.90       13913.839
3           Andorra    Europe  ...                         NaN             NaN
4            Angola    Africa  ...                         NaN        5819.495
..              ...       ...  ...                         ...             ...
205         Vietnam      Asia  ...                        2.60        6171.884
206  Western Sahara    Africa  ...                         NaN             NaN
207           Yemen      Asia  ...                        0.70        1479.147
208          Zambia    Africa  ...                        2.00        3689.251
209        Zimbabwe    Africa  ...                        1.70        1899.775

[210 rows x 6 columns]

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [5]:
num_countries = countries_df.shape[0]

In [6]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [13]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [14]:
continents = countries_df.continent.unique()

In [15]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [16]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q3: What is the total population of all the countries listed in this dataset?**

In [17]:
total_population = countries_df.population.sum()

In [18]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [19]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [23]:
weighted_average = countries_df.life_expectancy.sum()/countries_df.population.sum()

In [24]:
print('The total life expentancy is {}.'.format(weighted_average))

The total life expentancy is 1.961938521833756e-06.

In [25]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [28]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)

In [29]:
most_populous_df

          location      continent  ...  hospital_beds_per_thousand  gdp_per_capita
41           China           Asia  ...                        4.34       15308.712
90           India           Asia  ...                        0.53        6426.674
199  United States  North America  ...                        2.77       54225.446
91       Indonesia           Asia  ...                        1.04       11188.744
145       Pakistan           Asia  ...                        0.60        5034.708
27          Brazil  South America  ...                        2.20       14103.452
141        Nigeria         Africa  ...                         NaN        5338.454
15      Bangladesh           Asia  ...                        0.80        3523.984
157         Russia         Europe  ...                        8.05       24765.954
125         Mexico  North America  ...                        1.38       17336.469

[10 rows x 6 columns]

In [30]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [31]:
countries_df['gdp'] = countries_df.population*countries_df.gdp_per_capita

In [32]:
countries_df

           location continent  ...  gdp_per_capita           gdp
0       Afghanistan      Asia  ...        1803.987  7.022622e+10
1           Albania    Europe  ...       11803.431  3.396791e+10
2           Algeria    Africa  ...       13913.839  6.101364e+11
3           Andorra    Europe  ...             NaN           NaN
4            Angola    Africa  ...        5819.495  1.912651e+11
..              ...       ...  ...             ...           ...
205         Vietnam      Asia  ...        6171.884  6.007624e+11
206  Western Sahara    Africa  ...             NaN           NaN
207           Yemen      Asia  ...        1479.147  4.411699e+10
208          Zambia    Africa  ...        3689.251  6.782303e+10
209        Zimbabwe    Africa  ...        1899.775  2.823622e+10

[210 rows x 7 columns]

In [33]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [35]:
new_data=countries_df.sort_values('gdp_per_capita')

In [37]:
final_data=new_data[new_data.population>100000000]
final_data

          location      continent  ...  gdp_per_capita           gdp
63        Ethiopia         Africa  ...        1729.927  1.988786e+11
15      Bangladesh           Asia  ...        3523.984  5.803628e+11
145       Pakistan           Asia  ...        5034.708  1.112128e+12
141        Nigeria         Africa  ...        5338.454  1.100467e+12
90           India           Asia  ...        6426.674  8.868838e+12
151    Philippines           Asia  ...        7599.188  8.327273e+11
58           Egypt         Africa  ...       10550.206  1.079649e+12
91       Indonesia           Asia  ...       11188.744  3.060386e+12
27          Brazil  South America  ...       14103.452  2.997821e+12
41           China           Asia  ...       15308.712  2.203419e+13
125         Mexico  North America  ...       17336.469  2.235239e+12
157         Russia         Europe  ...       24765.954  3.614206e+12
99           Japan           Asia  ...       39002.223  4.932863e+12
199  United States  North America  ...       54225.446  1.794877e+13

[14 rows x 7 columns]

In [38]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [41]:
country_counts_df = countries_df.groupby('continent')[['location']].count()

In [42]:
country_counts_df

               location
continent
Africa               55
Asia                 47
Europe               51
North America        36
Oceania               8
South America        13

In [43]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [44]:
continent_populations_df = countries_df.groupby('continent')[['population']].sum()

In [45]:
continent_populations_df

                 population
continent
Africa         1.339424e+09
Asia           4.607388e+09
Europe         7.485062e+08
North America  5.912425e+08
Oceania        4.095832e+07
South America  4.304611e+08

In [46]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [47]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7f10b0f12390>)

In [48]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [49]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [59]:
total_tests_missing = covid_data_df.total_tests.isna().sum()
total_tests_missing

122

In [60]:
with pd.option_context('display.max_rows', 213):
    display(covid_data_df.total_tests.isna())

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7      False
8       True
9       True
10     False
11     False
12      True
13      True
14     False
15     False
16      True
17     False
18     False
19      True
20      True
21      True
22      True
23     False
24      True
25      True
26      True
27     False
28      True
29      True
30     False
31      True
32      True
33      True
34      True
35     False
36      True
37      True
38      True
39      True
40     False
41      True
42     False
43      True
44      True
45     False
46     False
47     False
48     False
49      True
50      True
51     False
52      True
53     False
54      True
55      True
56      True
57     False
58      True
59     False
60      True
61      True
62     False
63     False
64      True
65      True
66     False
67     False
68      True
69      True
70      True
71      True
72      True
73     False
74     False
75      True
76     False
77      True
78      True
79      True
80      True
81      True
82      True
83      True
84      True
85      True
86      True
87     False
88     False
89     False
90     False
91     False
92      True
93     False
94     False
95     False
96      True
97     False
98     False
99      True
100    False
101     True
102     True
103    False
104    False
105     True
106    False
107     True
108     True
109    False
110     True
111     True
112     True
113     True
114     True
115    False
116    False
117     True
118     True
119     True
120    False
121    False
122     True
123    False
124     True
125     True
126    False
127     True
128     True
129     True
130     True
131     True
132    False
133     True
134    False
135     True
136    False
137    False
138     True
139    False
140     True
141     True
142    False
143     True
144    False
145     True
146    False
147     True
148    False
149     True
150    False
151    False
152    False
153    False
154    False
155     True
156    False
157    False
158    False
159    False
160     True
161     True
162     True
163     True
164     True
165    False
166    False
167    False
168     True
169     True
170    False
171     True
172    False
173    False
174     True
175    False
176    False
177     True
178    False
179     True
180     True
181     True
182     True
183     True
184    False
185     True
186    False
187     True
188     True
189    False
190     True
191    False
192     True
193    False
194    False
195     True
196    False
197    False
198    False
199    False
200    False
201     True
202    False
203     True
204     True
205     True
206    False
207     True
208     True
209     True
210     True
211    False
Name: total_tests, dtype: bool

In [61]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [62]:
combined_df = countries_df.merge(covid_data_df,on='location')

In [63]:
combined_df

           location continent  ...  total_deaths  total_tests
0       Afghanistan      Asia  ...        1409.0          NaN
1           Albania    Europe  ...         296.0          NaN
2           Algeria    Africa  ...        1525.0          NaN
3           Andorra    Europe  ...          53.0          NaN
4            Angola    Africa  ...         109.0          NaN
..              ...       ...  ...           ...          ...
205         Vietnam      Asia  ...          35.0     261004.0
206  Western Sahara    Africa  ...           1.0          NaN
207           Yemen      Asia  ...         571.0          NaN
208          Zambia    Africa  ...         292.0          NaN
209        Zimbabwe    Africa  ...         206.0      97272.0

[210 rows x 10 columns]

In [64]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [65]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [66]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [67]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [68]:
combined_df

           location continent  ...  cases_per_million  deaths_per_million
0       Afghanistan      Asia  ...         982.394806           36.194710
1           Albania    Europe  ...        3380.359997          102.856349
2           Algeria    Africa  ...        1029.804468           34.776824
3           Andorra    Europe  ...       15518.022390          685.950948
4            Angola    Africa  ...          83.033462            3.316470
..              ...       ...  ...                ...                 ...
205         Vietnam      Asia  ...          10.745996            0.359570
206  Western Sahara    Africa  ...        1282.373228            1.674116
207           Yemen      Asia  ...          66.250993           19.144391
208          Zambia    Africa  ...         675.317108           15.883415
209        Zimbabwe    Africa  ...         446.614587           13.859989

[210 rows x 13 columns]

In [69]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [70]:
highest_tests_df = combined_df.sort_values('tests_per_million',ascending=False).head(10)

In [71]:
highest_tests_df

                 location      continent  ...  cases_per_million  deaths_per_million
197  United Arab Emirates           Asia  ...        7233.276713           39.128852
14                Bahrain           Asia  ...       30818.361490          111.660730
115            Luxembourg         Europe  ...       12665.022301          198.090662
122                 Malta         Europe  ...        4373.339614           29.442473
53                Denmark         Europe  ...        2968.645954          108.076323
96                 Israel           Asia  ...       14157.289533          111.951408
89                Iceland         Europe  ...        6215.384615           29.304029
157                Russia         Europe  ...        6886.653091          119.327539
199         United States  North America  ...       18472.377957          561.155633
10              Australia        Oceania  ...        1016.592979           26.000121

[10 rows x 13 columns]

In [72]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [73]:
highest_cases_df = combined_df.sort_values('cases_per_million',ascending=False).head(10)

In [74]:
highest_cases_df

          location      continent  ...  cases_per_million  deaths_per_million
155          Qatar           Asia  ...       41375.743650           69.071800
14         Bahrain           Asia  ...       30818.361490          111.660730
147         Panama  North America  ...       21805.112117          470.477208
40           Chile  South America  ...       21695.671982          593.423100
162     San Marino         Europe  ...       21657.139490         1237.550828
9            Aruba  North America  ...       20708.839893          112.395332
105         Kuwait           Asia  ...       20249.789079          125.276222
150           Peru  South America  ...       20121.318048          887.393445
27          Brazil  South America  ...       18808.224105          582.331314
199  United States  North America  ...       18472.377957          561.155633

[10 rows x 13 columns]

In [75]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [76]:
highest_deaths_df = combined_df.sort_values('deaths_per_million',ascending=False).head(10)

In [77]:
highest_deaths_df

           location      continent  ...  cases_per_million  deaths_per_million
162      San Marino         Europe  ...       21657.139490         1237.550828
150            Peru  South America  ...       20121.318048          887.393445
18          Belgium         Europe  ...        7404.645676          854.040375
3           Andorra         Europe  ...       15518.022390          685.950948
177           Spain         Europe  ...       10256.790198          624.406705
198  United Kingdom         Europe  ...        4988.892850          611.525168
40            Chile  South America  ...       21695.671982          593.423100
97            Italy         Europe  ...        4490.684602          587.097697
27           Brazil  South America  ...       18808.224105          582.331314
182          Sweden         Europe  ...        8370.109919          576.279276

[10 rows x 13 columns]

In [78]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [79]:
common_count = highest_tests_df.location.isin(highest_cases_df.location).sum()

In [80]:
print("The no of common countries listed in highest no of tests per million and highest no of cases per million are:",common_count)

The no of common countries listed in highest no of tests per million and highest no of cases per million are: 2

In [81]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [82]:
lowest_20_GDP=combined_df.sort_values('gdp_per_capita',ascending=True)

In [83]:
lowest_20_GDP

                         location  ... deaths_per_million
38       Central African Republic  ...          12.837066
32                        Burundi  ...           0.084099
111                       Liberia  ...          16.212977
52   Democratic Republic of Congo  ...           2.880705
140                         Niger  ...           2.850458
..                            ...  ...                ...
185                        Taiwan  ...           0.293910
194      Turks and Caicos Islands  ...         103.311121
200  United States Virgin Islands  ...         143.646515
203                       Vatican  ...           0.000000
206                Western Sahara  ...           1.674116

[210 rows x 13 columns]

In [ ]:
import jovian

In [84]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/syedatif4118/pandas-practice-assignment

'https://jovian.ai/syedatif4118/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2